{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<section class="showcase-area" id="showcase" style="background-image: url('/static/images/bg/bg-2.jpg');">
    <div class="showcase-container">
        <h1 class="main-title" id="home">Custmize by Yourself</h1>
        <p>Service our Product Your</p>
        <a href="#food-menu" class="btn btn-primary" id="productbtn">
            <h4 id="BoldProduct">Products</h4>
        </a>
    </div>
</section>
<section id="about">
    <div class="about-wrapper container">
        <div class="about-text">
            <p class="small">About Us</p>
            <h2>Welcome to Customization Services! We specialize in providing tailored solutions to meet your unique
                needs.</h2>
            <p>
                Give your customers a superior shopping experience. Realistic 3D product visuals, intuitive design tools
                and rewarding user journeys.
            </p>
            <a href="/register"> <button type="register" class="btn btn-primary">Start Creating</button> </a>

        </div>
        <div class="about-img">
            <img src="/static/images/bg/bg-customize.avif" alt="food" />
        </div>
        

    </div>
</section>









{% endblock 'main' %}