{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<section class="showcase-area" id="showcase" style="background-image: url('/static/images/bg/bg-2.jpg');">
    <div class="showcase-container">
        <h1 class="main-title" id="home">Custmize by Yourself</h1>
        <p>Service our Product Your</p>
        <a href="#food-menu" class="btn btn-primary" id="productbtn">
            <h4 id="BoldProduct">Products</h4>
        </a>
    </div>
</section>

{% for x in prod %}
<div class="card">
    <img src="{{x.pimage.url}}" alt="food" />
    <div class="card-body">
        <h5 class="card-title">{{x.name}}</h5>
        <p class="card-text">{{x.pdetails}}</p>
        <p class="original-price">Original Price: ₹120</p>
        <p class="discount">Discount: 20%</p>
        <p class="new-price">New Price: ₹{{x.price}}</p>
        <button href="#"class="button-59" role="button">Add To Cart</button>
        


       
        
    </div>

</div>
{% endfor %}
<section id="about">
    <div class="about-wrapper container">
        <div class="about-text">
            <p class="small">About Us</p>
            <h2>welcom to customization.com</h2>
            <p>
                Give your customers a superior shopping experience. Realistic 3D product visuals, intuitive design tools
                and rewarding user journeys.
            </p>
            <a href="/register"> <button type="register" class="btn btn-primary">Start Creating</button> </a>
        </div>
        <div class="about-img">
            <img src="/static/images/bg/bg-customize.avif" alt="food" />
        </div>
    </div>
</section>
{% endblock 'main' %}
