{% extends 'base.html' %}
{% load static %}
{% block 'main' %}


{% for x in data %}
<div class="card " style="width: 40rem;margin-left: 30%;height: auto;">


  <div class="card-body">
    <h5 class="card-title">Welcom to profile Section  {{x.name}} !!</h5>
    <p class="card-text">viman nagar Eden garden society 411041 </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Name : {{x.name}}</li>
    <li class="list-group-item">Email :{{x.user}}</li>
    <li class="list-group-item">Add date of birth</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">edit profile</a>
    <a href="#" class="card-link">logout</a>
  </div>
</div>
{% endfor %}

<!--<img src="https://picsum.photos/200/300?random=1" class="card-img-top" alt="Random Men's Profile Picture">-->


{% endblock 'main' %}