{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customization.com</title>

    <!--FAV ICON LINKS HERE -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/' %}">
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!--ICON LINKS END -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--this is for login page fonts and icons-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link rel="stylesheet" href="{% static 'css/logincss.css'%}">
</head>

<body>

    <nav class="navbar">
        <img src="{% static 'images/logo1.png' %}" alt="Logo" class="logo">
        <h3 class="label">Customization.com</h3>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">services</a>
            </li>
        </ul>
    </nav>
    {% if errmsg %}
    <div class="alert alert-danger" role="alert">
        {{ errmsg }}
    </div>
    {% endif %}

    {% if success %}
    <div class="alert alert-success" role="alert">
        {{ success }}
    </div>
    {% endif %}





    <div class="container">
        <div class="signin-signup">
            <form method="POST" action="{% url 'sign_in' %}" class="sign-in-form">
                {% csrf_token %}
                <h2 class="title">Sign in</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="email" placeholder="email" name="uname">
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" name="upass">
                </div>
                <input type="submit" value="Login" class="btn">
                <p class="social-text">Or Sign in with social platform</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                <p class="account-text">Don't have an account? <a href="#" id="sign-up-btn2">Sign up</a></p>
            </form>

            <form method="POST" action="{% url 'sign_up' %}" class="sign-up-form">

                {% csrf_token %}
                <h2 class="title">Sign up</h2>
                
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" id="Input1" name="name" placeholder="Username">
                </div>
                
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="email" id="Input2" name="uname" placeholder="Email">
                </div>
                <button type="button" onclick="sendOTP()">Send OTP</button>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" id="Input3" name="upass" placeholder="New Password">
                </div>
                
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" id="Input4" name="ucpass" placeholder="Confirm Password">
                </div>
            
                <!-- OTP Input Field -->
                <div class="input-field">
                    <i class="fas fa-key"></i>
                    <input type="text" id="otpInput" name="otp" maxlength="6" pattern="\d{6}" placeholder="OTP" required>
                </div>
            
                <!-- Send OTP Button -->
                
                    
                
            
                <input type="submit" value="Sign up" class="btn">
                
                <p class="social-text">Or Sign in with social platform</p>
                
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                
                <p class="account-text">Already have an account? <a href="#" id="sign-in-btn2">Sign in</a></p>
                
            </form>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Already Member ?</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque accusantium dolor, eos incidunt
                        minima iure?</p>
                    <button class="btn" id="sign-in-btn">Sign in</button>
                </div>

            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>New to Here?</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque accusantium dolor, eos incidunt
                        minima iure?</p>
                    <button class="btn" id="sign-up-btn">Sign up</button>
                </div>

            </div>
        </div>
    </div>


    <div class="footer-index">
        <!-- Footer Area -->
        <footer class="footer_area py-5">

            <div class="row">

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer-widget py-4">

                        <div class="footer-logo mb-3"></div>
                        <p class="mb-4">Customization.com is a website that allows you to customizeanything you can...
                        </p>


                        <!-- Footer Social Area -->
                        <div class="footer_social_area">
                            <a href="#" class="btn btn-outline-secondary mr-2" data-toggle="tooltip"
                                data-placement="top" title="Facebook">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="btn btn-outline-secondary mr-2" data-toggle="tooltip"
                                data-placement="top" title="Pinterest">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                            <a href="#" class="btn btn-outline-secondary mr-2" data-toggle="tooltip"
                                data-placement="top" title="Skype">
                                <i class="fab fa-skype"></i>
                            </a>
                            <a href="#" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top"
                                title="Twitter">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg">
                    <div class="single-footer-widget py-4">

                        <h5 class="widget-title mb-3">About</h5>

                        <div class="footer_menu">
                            <ul class="list-unstyled">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Corporate Sale</a></li>
                                <li><a href="#">Terms &amp; Policy</a></li>
                                <li><a href="#">Community</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg">
                    <div class="single-footer-widget py-4">

                        <h5 class="widget-title mb-3">Support</h5>

                        <div class="footer_menu">
                            <ul class="list-unstyled">
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Term &amp; Conditions</a></li>
                                <li><a href="#">Help &amp; Support</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg">
                    <div class="single-footer-widget py-4">

                        <h5 class="widget-title mb-3">Contact</h5>

                        <div class="footer_menu">
                            <ul class="list-unstyled">
                                <li><a href="#">Call Centre</a></li>
                                <li><a href="#">Email Us</a></li>
                                <li><a href="#">Term &amp; Conditions</a></li>
                                <li><a href="#">Help Center</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </div>
</body>


<!--javaScripts File is here -->
<script src="{% static 'js/apps.js' %}"></script>

<!--Bootstrap and css CDN links Online -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</html>