.navbar {
    box-shadow: 0px 5px 10px 0px #aaa;
    position: sticky;
    top: 0;
    width: 100%;
    background: #f0ecec;
    color: #042f3b;
    opacity: 0.90;
    height: 60px;
    z-index: 12;
    justify-content: center;

}

.nav {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    color: #282728;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #9c046f;
}

.logo {
    display: flex;
    height: 40px;
}

.label {
    color: hsl(158, 93%, 21%);
    margin: 0;
}

/*---------------------------index section-----------*/
.main-title h3 {

    color: #e9e6e6;
    font-weight: normal;
    text-align: center;

}





/*---------------------------footer section-----------*/


.footer_area {
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 8px 48px 8px rgba(239, 87, 224, 0.175);
    padding: 30px;
    background-color: #ffffff;

}


.footer_area .row {
    margin-left: -25px;
    margin-right: -25px;
}



.footer_social_area a {
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #f468bc;
    line-height: 25px;
    box-shadow: none;
    margin-right: 10px;
}

.foot-link {
    color: #282728;
    text-decoration: none;
    transition: color 0.3s;
}

.foot-link:hover {
    color: #ae0668;
}

.widget-title {
    border-bottom: 2px solid #ae0668;
    /* Add border under widget titles */
    padding-bottom: 10px;
    /* Add space below widget titles */
}

.showcase-area {
    height: 70vh;
    line-height: 10px;
    background-size: cover;
    
    background-position: center;
    background-repeat: no-repeat;
}

.showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
}

#productbtn {
    color: #ffffff;
    background: #e12161;
    width: 10%;
    height: 10%;
}

#productbtn:hover {
    background: #ed4eab;
    transition: background 0.3s ease-in-out;
}

#BoldProduct {
    text-align: center;
   
    line-height: 20px;
}

/* ......//about us//...... */

#about {
    padding: 50px 0;
    background: #f5f5f7;
  }
  
  .about-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  #about h2 {
    font-size: 2.3rem;
  }
  
  #about p {
    font-size: 1.2rem;
    color: #555;
  }
  
  #about .small {
    font-size: 1.2rem;
    color: #666;
    font-weight: 600;
  }
  
  .about-img {
    flex: 1 1 400px;
    padding: 30px;
    transform: translateX(150%);
    animation: about-img-animation 1s ease-in-out forwards;
  }
  
  @keyframes about-img-animation {
    100% {
      transform: translate(0);
    }
  }
  
  .about-text {
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translate(-150%);
    animation: about-text-animation 1s ease-in-out forwards;
  }
  
  @keyframes about-text-animation {
    100% {
      transform: translate(0);
    }
  }
  
  .about-img img {
    display: block;
    height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
  }
  